/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .row__container {
    @apply flex flex-row overflow-x-scroll h-[22rem] lg:h-[30rem] overflow-y-hidden scrollbar-thin scrollbar-thumb-gray-200 scrollbar-thumb-rounded-full scrollbar-track-rounded-3xl scrollbar-hide hover:scrollbar-default relative
  }

  .banner__details{
    @apply cursor-pointer px-2 border border-gray-400 rounded-full text-gray-500  text-[14px] hover:scale-110 transition ease-in-out
  }

  .banner__InfoBtn{
    @apply bottom-7 left-6 w-[83%]  py-2 bg-gradient-to-r from-gray-600 via-slate-800 to-gray-600 hover:from-red-500 hover:via-red-600 hover:to-red-500 text-white rounded-sm font-extrabold text-lg tracking-widest absolute hover:scale-105 transition ease-in-out
  }

  .iconContainer {
    @apply bg-gray-500 hover:bg-black p-2 rounded-full cursor-pointer transition ease-in-out
  }

  .footerIcon {
    @apply h-5 w-5 md:h-8 md:w-8 
  }

  .othersButton {
    @apply flex items-center border border-gray-400 md:border-2 rounded-full p-1 md:px-2 md:space-x-1 text-gray-400 cursor-pointer relative hover:text-white hover:border-white transition ease-in-out
  }

  .movieContainer {
    @apply flex flex-col text-center cursor-pointer hover:shadow-sm hover:shadow-gray-300 hover:scale-110 active:scale-90 transition ease-in-out space-y-2
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

svg.star-svg {
  display: inline;
}

.slick-slide{
  text-align: center;
  color: rgb(201, 199, 199);
}

.slick-current{
  color: white;
  display: flex;
  padding: 3px 10px;
  font-weight: 700;
  width: max-content;
  transform: scale(1.1);
}

.slick-dots li.slick-active button:before {
  color:white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
